<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="cn.wangchuan.link.acceptance" android:versionCode="1" android:versionName="1">
    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="35" />
    <application android:hasCode="false" android:label="随连安装验收" android:allowBackup="false" />
</manifest>
